### BIZ 프로젝트

In [10]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
                                              0.0/250.9 kB ? eta -:--:--
     -----------------------------------    235.5/250.9 kB 7.3 MB/s eta 0:00:01
     -------------------------------------- 250.9/250.9 kB 3.9 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [29]:
import pandas as pd

RANDOM_STATE = 110

# Excel 파일 읽기
data = pd.read_excel("../../project/data_31.xlsx", header=1, sheet_name='Sheet1')

In [30]:
data.columns

Index(['업체코드', '종목코드', '종목명', '_0', '_0.1', '_0.2', '_0.3',
       '2020/Annual\n191000.<성장성에 관한 지표>', '2021/Annual\n191000.<성장성에 관한 지표>',
       '2022/Annual\n191000.<성장성에 관한 지표>',
       ...
       '2020/Annual\n192120.매출액영업이익율', '2021/Annual\n192120.매출액영업이익율',
       '2022/Annual\n192120.매출액영업이익율', '2023/Annual\n192120.매출액영업이익율',
       '2020/Annual\n192130.수지비율', '2021/Annual\n192130.수지비율',
       '2022/Annual\n192130.수지비율', '2023/Annual\n192130.수지비율',
       '2020/Annual\n192140.매출원가율', '2021/Annual\n192140.매출원가율'],
      dtype='object', length=117)

In [31]:
import pandas as pd

# 열 이름 변환 함수
def transform_column_name(col_name):
    parts = col_name.split('\n')
    if len(parts) == 2:
        year, desc = parts
        desc = desc.split('.')[1]  # 변수 설명 부분만 추출
        return f"{year}/{desc}"
    return col_name

# 열 이름 변환 적용
data.columns = [transform_column_name(col) for col in data.columns]

data.head()

,업체코드,종목코드,종목명,_0,_0.1,_0.2,_0.3,2020/Annual/<성장성에 관한 지표>,2021/Annual/<성장성에 관한 지표>,2022/Annual/<성장성에 관한 지표>,...,2020/Annual/매출액영업이익율,2021/Annual/매출액영업이익율,2022/Annual/매출액영업이익율,2023/Annual/매출액영업이익율,2020/Annual/수지비율,2021/Annual/수지비율,2022/Annual/수지비율,2023/Annual/수지비율,2020/Annual/매출원가율,2021/Annual/매출원가율
0,N840130,A000010,(주)신한은행,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N350605,A000020,동화약품,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.35,6.89,8.41,5.09,88.07,92.24,93.45,90.22,49.42,50.59
2,N840149,A000030,(주)우리은행,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N320498,A000040,KR모터스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.03,-5.51,-31.70,-41.98,152.79,138.53,150.78,156.91,88.18,82.61
4,N320684,A000050,경방,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.22,10.55,13.68,13.21,89.65,89.13,101.71,97.94,57.47,60.68

In [32]:
data.columns

Index(['업체코드', '종목코드', '종목명', '_0', '_0.1', '_0.2', '_0.3',
       '2020/Annual/<성장성에 관한 지표>', '2021/Annual/<성장성에 관한 지표>',
       '2022/Annual/<성장성에 관한 지표>',
       ...
       '2020/Annual/매출액영업이익율', '2021/Annual/매출액영업이익율', '2022/Annual/매출액영업이익율',
       '2023/Annual/매출액영업이익율', '2020/Annual/수지비율', '2021/Annual/수지비율',
       '2022/Annual/수지비율', '2023/Annual/수지비율', '2020/Annual/매출원가율',
       '2021/Annual/매출원가율'],
      dtype='object', length=117)

In [33]:
data['종목명'].value_counts()

종목명
(주)유원            8
(주)화인            6
(주)삼원            6
(주)삼우            6
(주)동남            5
                ..
(주)하이텍알씨디코리아     1
농업회사법인조은식품(주)    1
(주)은민씨엔씨         1
(주)대영베이스         1
(주)엘림글로벌         1
Name: count, Length: 38798, dtype: int64

In [35]:
data.drop_duplicates(subset=['종목명'], keep='first', inplace=True)

In [36]:
data['종목명'].value_counts()

종목명
(주)신한은행         1
(주)포트디자인랩       1
(주)영신하우징        1
(주)아이브이신라       1
농업회사법인(주)무의     1
               ..
제트에프렘페더샤시(주)    1
(주)마창대교         1
(주)삼희종합건설       1
(주)포럼씨앤디        1
(주)엘림글로벌        1
Name: count, Length: 38798, dtype: int64